.mat-column-taskId {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 10% !important;
  width: 10% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.mat-column-description {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 50% !important;
  width: 50% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

table {
  width: 100%;
}

tr.detail-row {
  height: 0;
}

tr.element-row:not(.expanded-row):hover {
  background: #777;
  cursor: url('../../../assets/images/xp-middle-finger-2.cur'), pointer;
}

tr.element-row:not(.expanded-row):active {
  background: #efefef;
}

.element-row td {
  border-bottom-width: 0;
}

.element-detail {
  overflow: hidden;
  display: flex;
}

.btn {
  margin-right: 10px;
  margin-bottom: 5px;
}

.date::-webkit-calendar-picker-indicator {
  margin-left: 5px;
  width: 12px;
  height: 12px;
  background-color: f4f4f4;
  border-color: #e1ce89 !important;

}

.date::-webkit-inner-spin-button {
  display: none;
}

.newTask {
  border: solid 2px #e1ce89;
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 5px;
}

.newTask .buttonContainer {
  display: flex;
  justify-content: center;
  margin: 0;
}

.newTask button {
  align-content: center;
}

::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: white !important;
}

::ng-deep .mat-form-field {
  /*change color of label*/
  color: white !important;
}

.success {
  border: solid 2px #e1ce89 ;
  animation-name: border;
  animation-duration: .4s;
}

@keyframes border{
  from {
    border: solid 2px #e1ce89 ;
  }
  to {
    border: solid 2px springgreen;
  }
}

.image{
  border: solid 2px #e1ce89;
  border-radius: 8px;
}
.userDetails{
  color: white;
  font-size: 20px;
  margin-bottom: 20px;
}