<div class="userDetails">
  <h1>Employee Details</h1>
  <div class="row">
    <div class=" col col-4 mb-2">
      <img  class="image" src="https://robohash.org/{{user.userId}}?size=200x200" alt="">
    </div>
    <div class="col col-4" *ngIf="user">
      <div class="row col-12">
        <p>
          <b>ID: </b> {{user.userId}}
        </p>
      </div>
      <div class="row col-12">
        <p>
          <b>Name: </b> {{user.name}}
        </p>
      </div>
      <div class="row col-12">
        <p>
          <b>Email: </b> {{user.email}}
        </p>
      </div>
    </div>

    <div class="col col-4">
      <div class="row col-12">
        <p>
          <b>Phone: </b> {{user.phone}}
        </p>
      </div>
      <div class="row col-12">
        <p>
          <b>Department: </b> {{user.department}}
        </p>
      </div>
      <div class="row col-12">
        <p>
          <b>Position: </b> {{user.position}}
        </p>
      </div>
    </div>
  </div>


</div>


  <div [ngClass]="{'success' : submitted}" class="newTask" id="CreateForm">
    <h1 align="center">Create new task</h1>
    <form [formGroup]="taskCreateForm" style="width:100%;" (ngSubmit)="createTask()">

      <mat-form-field style="width:70%; height: auto; margin-left: 20px;" appearance="fill">
        <mat-label>Description</mat-label>
        <textarea formControlName="description" style="overflow: hidden;" cdkTextareaAutosize matInput></textarea>
      </mat-form-field>

      <mat-form-field style=" width:25%; margin-left: 20px;" appearance="fill">
        <mat-label>Deadline</mat-label>
        <input formControlName="deadline" class="date" type="date" matInput>
      </mat-form-field>

      <div class="buttonContainer">
        <button class="btn btn-primary" type="submit">Submit</button>
      </div>

    </form>
  </div>



  <div>
    <h1>Tasks</h1>
    <mat-form-field>
      <mat-label class="label">Filter</mat-label>
      <label>
        <input class="input-field" matInput (keyup)="applyFilter($event)">
      </label>
    </mat-form-field>
    <table mat-table [dataSource]="taskSource" multiTemplateDataRows matSort matSortActive="taskId"
      matSortDirection="asc" matSortDisableClear>

      <ng-container matColumnDef="{{column}}" *ngFor="let column of displayedColumns">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> {{column}} </th>
        <td mat-cell *matCellDef="let task"> {{task[column]}} </td>
      </ng-container>

      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let task" [attr.colspan]="displayedColumns.length">
          <div class="element-detail" [@detailExpand]="task == expandedElement ? 'expanded' : 'collapsed'">

            <form [formGroup]="taskUpdateForm" style="width:100%;" (ngSubmit)="updateTask(task.taskId)">

              <mat-form-field style="width:70%; height: auto;" appearance="fill">
                <mat-label>Description</mat-label>
                <textarea value="{{task.description}}" formControlName="description" style="overflow: hidden;"
                  cdkTextareaAutosize matInput></textarea>
              </mat-form-field>

              <mat-form-field style="float: right; width:25%; margin-left: 10px;" appearance="fill">
                <mat-label>Deadline</mat-label>
                <input formControlName="deadline" class="date" type="date" value="{{task.deadline}}" matInput>

              </mat-form-field>

              <button class="btn btn-primary" type="submit">Submit</button>

              <button class="btn btn-danger btn-delete" (click)="deleteTask(task.taskId)">X</button>
            </form>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row matTooltip="Select to alter task" matTooltipPosition="left" (click)="saveDataVar(task.description, task.deadline)"
        *matRowDef="let task; columns: displayedColumns;" class="element-row"
        [class.expanded-row]="expandedElement === task"
        (click)="expandedElement = expandedElement === task ? null : task">
      </tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>

    </table>

    <mat-paginator [length]="100" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>

  </div>
