<div class="nav">
  <a href="" routerlink="/">
    <button class="btn btnClass">Home</button>
  </a>
  <select onchange="if (this.value) window.location.href=this.value" class="selector" name="" id="Deparment-Select">
    <option value="" disabled>Select Deparment</option>
    <option value="/department/Business Development">Business Development</option>
    <option value="/department/Sales">Sales</option>
    <option value="/department/Support">Support</option>
    <option value="/department/Training">Training</option>
    <option value="/department/Accounting">Accounting</option>
    <option value="/department/Research and Development">Research and Development</option>
    <option value="/department/Marketing">Marketing</option>
    <option value="/department/Product Management">Product Management</option>
  </select>
  <h6 class=" m-auto">EMPLOYEE MANAGEMENT SYSTEM</h6>
</div>
