.nav {
  width: 100%;
  height: 70px;
  line-height: 70px; /* Vertically center the text there */
  color: whitesmoke;
  border-bottom: solid 2px #e1ce89;
  margin-bottom: 15px;
  background-color: rgb(71, 71, 71);
}

h6 {
  font-size: 25px;
}
#logo{
  float: left;
  height: 70px;
  width: 120px;
}
.btnClass{
  border: solid 1px #e1ce89;
  border-radius: 4px;
  margin-left: 10px;
  color: antiquewhite;
}
.btnClass:hover{
  background-color: #e1ce89;
  color: black;
}

.selector{
  border: solid 1px #e1ce89;
  background: transparent;
  border-radius: 4px;
  margin-left: 10px;
  color: antiquewhite;
  width: auto;
  height: 38px;
  align-self: center;
}
.selector:hover{
  background-color: #e1ce89;
  color: black;
}

