.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px; /* Set the fixed height of the footer here */
  line-height: 50px; /* Vertically center the text there */
  background-color: rgb(71, 71, 71);
  border-top: solid 2px #e1ce89;
  color: whitesmoke;
}
