.column {
  margin-right: 10px;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
  background: rgb(71, 71, 71);
  color: white;
}

.mat-label {
  margin: 5px;
  font-size: 20px;
}

.input-field {
  margin-left: 5px;
}

.label {
  font-size: 17px;
  margin-left: 5px;
}

.mat-header-cell {
  margin-right: 10px;
}

.row-select:hover {
  background: rgba(255, 255, 255, 0.44);
  cursor: url('../../../assets/images/xp-middle-finger-2.cur'), pointer;
}

.mat-column-userId {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 10% !important;
  width: 10% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.mat-column-email {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 20% !important;
  width: 20% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
}
.mat-column-position {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 20% !important;
  width: 20% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
}