/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  background: #2e2e2e;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: #e1ce89;
}
/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

