<div>
    <h1>{{department}}</h1>
    <mat-form-field>
      <mat-label class="label">Filter</mat-label>
      <label>
        <input class="input-field" matInput (keyup)="applyFilter($event)">
      </label>
    </mat-form-field>
    <mat-table [dataSource]="dataSource" matSort matSortActive="userId" matSortDirection="asc" matSortDisableClear>
      <ng-container matColumnDef="userId">
        <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
        <mat-cell class="column" *matCellDef="let user">{{user.userId}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
        <mat-cell class="column" *matCellDef="let user">{{user.name}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
        <mat-cell class="column" *matCellDef="let user">{{user.email}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="phone">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Phone</mat-header-cell>
        <mat-cell class="column" *matCellDef="let user">{{user.phone}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="position">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Position</mat-header-cell>
        <mat-cell class="column" *matCellDef="let user">{{user.position}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="department">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Department</mat-header-cell>
        <mat-cell class="column" *matCellDef="let user">{{user.department}}</mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns" color="primary"></mat-header-row>
      <mat-row class="row-select" matTooltip="Double click to see tasks" matTooltipPosition="left" (dblclick)="employeeCardCall(row.userId)" *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
    <mat-paginator [length]="100"
                   [pageSize]="5"
                   [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
  </div>
  
  